body{
    border-radius: 20px solid aqua;

}
nav{
    display: flex;
    justify-content: space-between;
}
.img{
    display: grid;
    grid-template-columns:repeat(6,25%)
}

nav a{
    text-decoration: none;
    font-size: 1.5em;
    color: black;
    margin-right: 15px;
}
.second{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    
}
.second img{
    border-radius: 10px;
}
.half-width{
    align-items: column;
    width: 100%;
}
.far fa-star filled{
    background-color: burlywood;
}
.half-width{
    align-items: grid;
}

.footer{
    background-color: black;
    height: 200px;
    width: 150px;
}
.img{
    height: 324px;
    width: 460px;
    border-radius: 20px;
    box-shadow: 10px 10px solid aqua;
    flex-direction: row;
}