body{
    border-radius: 20px solid aqua;

}
.menu{
    display: flex;
    
    align-items:row;
    justify-content: row;
}
.second{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    
}
.second img{
    border-radius: 10px;
}
.half-width{
    align-items: column;
    width: 100%;
}
.far fa-star filled{
    background-color: burlywood;
}
.half-width{
    align-items: grid;
}